/* Grundlegende Stile für den gesamten Body */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Verhindert Scrollen */
    position: relative; /* Für absolute Positionierung innerhalb */
}

/* Hintergrundbild */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Bilder/justitia_landingpage_2.jpg');
    background-size: cover; /* Skaliert das Bild, sodass der gesamte Hintergrund bedeckt ist */
    background-repeat: no-repeat; /* Verhindert die Wiederholung des Bildes */
    background-attachment: fixed; /* Das Bild bleibt beim Scrollen an Ort und Stelle */
    background-position: center; /* Zentriert das Bild */
}

/* Überlagerung für die linke Hälfte der Landingpage */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Schwarze Farbe mit 40% Transparenz */
}

/* Container für den Begrüßungstext und Button */
.welcome-container {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    opacity: 0;
    animation: fadeInMoveUp 3s ease forwards;
}

/* Animation für das Einblenden und Bewegen */
@keyframes fadeInMoveUp {
    0% {
        top: 60%;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}

/* Text für die Begrüßungsnachricht */
.welcome-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
}

/* Stil für den Button */
.welcome-button {
    display: inline-block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 8px; /* Abgerundete Ecken */
}

/* Hover-Effekt für den Button */
.welcome-button:hover {
    background-color: white;
    color: black;
}