/* Grundlegende Stile für den gesamten Body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigationsleiste */
header {
    background-color: black;
    padding: 20px 0;
    text-align: left;
    padding-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd;
}

/* Hauptinhalt */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
}

main h1 {
    margin-bottom: 20px;
    text-align: center;
}

/* Haus Symbol */
.house-symbol {
    width: 150px;  /* Setze die gewünschte Breite */
    height: 150px; /* Setze die gewünschte Höhe */
    background: url('../Bilder/haussymbol_bessere_aufloesung.png') no-repeat center center;
    background-size: contain;
    margin: 20px 0; /* Abstand oben und unten */
}

/* Button */
.button-container {
    margin-top: 20px; /* Anpassung des oberen Abstands */
    display: flex;
    justify-content: center;
}

a.edit-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a.edit-btn:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}